

.messages-place {
  width: 35%;
  height: 100vh;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
}

.card a img {
  width: 60px;


  float: left;
  margin: 2%;
  margin-left: 0;
  margin-top: 0;

}

.card {
  width: 100%;
  float: left;
  background: #E0C097;
  padding: 1%;
  margin-bottom: 2%;
}

.card h4 {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  display: block;
  float: left;

}

.btn {
  background: #B85C38;
  border: #fff;
}