@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap');


form {
  width: 35%;
  height: auto;
  float: left;
  margin-left: 32.5%;
  margin-right: 32.5%;
  padding: 2%;
  margin-top: 20px;
  background: #E0C097;
  border-radius: 3px;
  border: 1px solid;
}

form input {
  float: right;
}

table {
  width: 100%;
}


form button {
  background: #B85C38;
  border: 0px;
  width: 100%;
  text-align: left;
}

form button:hover {
  background: #5C3D2E;
}



form input, form textarea {
  width: 100%;
}

form h1 {
  color: #000;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
